:root {
  --main-bg: #FAFAFA;
  --green: #32A961;
  --yellow: #FFC000;
  --primary-text: #2E2D37;
  --primary: #ffffff;
  --secondary: #2E2D37;
  --secondary--text: #848484;
  --heading--secondary: #505050;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  padding: 0;
}
button {
  border: none;
}
.breadcrumbs{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.breadcrumbs a{
  white-space: nowrap;
}
.bread_string{
  color:  #32a961;
}


.search {
	position: absolute;
	width: 100%;
	bottom: 0;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	z-index: 1;
}

.search-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-header__tab {
	max-width: 217px;
	width: 100%;
	height: 57px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgba(46, 45, 55, 0.6);
	color: var(--primary);
	cursor: pointer;
}

.search-header ._active {
	background-color: rgba(46, 45, 55, 0.9);
}

.search-body {
	height: 145px;
	background-color: rgba(46, 45, 55, 0.9);
	padding-right: 30px;
	padding-left: 30px;
}

.search-body-left {
	margin-right: 30px;
}

.search-body-right {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.search-body__inner {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.search-input {
	margin-right: 4px;
	height: 56px;
	padding-left: 60px;
	border: none;
	font-size: 1.6rem;
	background-color: var(--primary);
	color: var(--secondary);
}

.search-input:last-child {
	margin-right: 0;
}

.search-input__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-input__modal {
	position: relative;
}

.search-input_left {
	border-top-left-radius: 28px;
	border-bottom-left-radius: 28px;
}

.search-input_right {
	border-top-right-radius: 28px;
	border-bottom-right-radius: 28px;
}

.search-input__city {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background: #fff url(../icon/bed.png) no-repeat;
	background-position: 20px 50%;
	background-size: 20px;
}

.search-input__from,
.search-input__to {
	width: 200px;
	background: #fff url(../icon/calendar.png) no-repeat;
	background-position: 20px 50%;
	background-size: 20px;
}

.search-input__guests {
	width: 420px;
	padding-left: 40px;
	background: #fff url(../icon/user.png) no-repeat;
	background-position: 20px 50%;
	background-size: 16px;
	cursor: pointer;
}

.search-input__guests .guests {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-input__guests .guests-part:first-child {
	width: 120px;
}

.search-input__guests .guests-part:nth-child(2) {
	width: 110px;
}

.search-input__guests .guests-part:last-child {
	margin-right: 0;
}

.search-input__guests .guests-field {
	width: 30px;
	text-align: right;
	border: none;
	background-color: inherit;
	color: inherit;
	cursor: pointer;
}

.search-input__guests .guests-modal-part {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.search-input__guests .guests-modal-part:last-child {
	margin-bottom: 0;
}

.search-input__guests .guests-modal-part__title {
	font-size: 1.6rem;
	color: var(--secondary);
}

.search-input__guests .guests-modal-part__bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-input__guests .guests-modal__btn {
	width: 40px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 2rem;
	border: 1px solid var(--green);
	color: var(--green);
	cursor: pointer;
}

.search-input__guests .guests-modal__btn:hover {
	background-color: rgba(50, 169, 97, 0.2);
}

.search-input__guests .guests-modal ._blocked {
	color: #b3b3b3;
	border-color: #b3b3b3;
}

.search-input__guests .guests-modal ._blocked:hover {
	background-color: var(--primary);
	cursor: not-allowed;
}

.search-input__guests .guests-modal__value {
	width: 40px;
	text-align: center;
	font-size: 1.6rem;
	color: var(--secondary);
}

.search-input__guests .guests-modal__field {
	text-align: center;
}

.search-input__objects {
	background: #fff url(../icon/house.png) no-repeat;
	background-position: 20px 50%;
	background-size: 20px;
}

.search-input__objects,
.search-input__rooms,
.search-input__cost {
	width: 274px;
	cursor: pointer;
}

.search-input__objects .objects,
.search-input__objects .rooms,
.search-input__objects .cost,
.search-input__rooms .objects,
.search-input__rooms .rooms,
.search-input__rooms .cost,
.search-input__cost .objects,
.search-input__cost .rooms,
.search-input__cost .cost {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.search-input__objects .objects-modal,
.search-input__objects .rooms-modal,
.search-input__objects .cost-modal,
.search-input__rooms .objects-modal,
.search-input__rooms .rooms-modal,
.search-input__rooms .cost-modal,
.search-input__cost .objects-modal,
.search-input__cost .rooms-modal,
.search-input__cost .cost-modal {
	font-size: 1.8rem;
}

.search-input__objects .objects-modal-part,
.search-input__objects .rooms-modal-part,
.search-input__objects .cost-modal-part,
.search-input__rooms .objects-modal-part,
.search-input__rooms .rooms-modal-part,
.search-input__rooms .cost-modal-part,
.search-input__cost .objects-modal-part,
.search-input__cost .rooms-modal-part,
.search-input__cost .cost-modal-part {
	margin-bottom: 10px;
}

.search-input__objects .objects-modal-part:last-child,
.search-input__objects .rooms-modal-part:last-child,
.search-input__objects .cost-modal-part:last-child,
.search-input__rooms .objects-modal-part:last-child,
.search-input__rooms .rooms-modal-part:last-child,
.search-input__rooms .cost-modal-part:last-child,
.search-input__cost .objects-modal-part:last-child,
.search-input__cost .rooms-modal-part:last-child,
.search-input__cost .cost-modal-part:last-child {
	margin-bottom: 0;
}

.search-input__objects .objects-modal__label,
.search-input__objects .objects-modal__checkbox,
.search-input__objects .rooms-modal__label,
.search-input__objects .rooms-modal__checkbox,
.search-input__objects .cost-modal__label,
.search-input__objects .cost-modal__checkbox,
.search-input__rooms .objects-modal__label,
.search-input__rooms .objects-modal__checkbox,
.search-input__rooms .rooms-modal__label,
.search-input__rooms .rooms-modal__checkbox,
.search-input__rooms .cost-modal__label,
.search-input__rooms .cost-modal__checkbox,
.search-input__cost .objects-modal__label,
.search-input__cost .objects-modal__checkbox,
.search-input__cost .rooms-modal__label,
.search-input__cost .rooms-modal__checkbox,
.search-input__cost .cost-modal__label,
.search-input__cost .cost-modal__checkbox {
	cursor: pointer;
}

.search-input__objects .cost-modal-part,
.search-input__rooms .cost-modal-part,
.search-input__cost .cost-modal-part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.search-input__objects .cost-modal__input,
.search-input__rooms .cost-modal__input,
.search-input__cost .cost-modal__input {
	text-align: center;
	border: none;
	border-bottom: 2px solid var(--secondary);
	color: var(--secondary);
	width: 80%;
	cursor: text;
}

.search-input__rooms {
	width: 272px;
	background: #fff url(../icon/doorway.png) no-repeat;
	background-position: 20px 50%;
	background-size: 17px;
}

.search-input__cost {
	background: #fff url(../icon/card.png) no-repeat;
	background-position: 20px 50%;
	background-size: 20px;
}

.search-modal {
	display: none;
	position: absolute;
	top: calc(100% + 4px);
	left: 0;
	width: 100%;
	padding: 20px;
	padding-top: 0;
	border-radius: 4px;
	background-color: var(--primary);
	-webkit-box-shadow: 0px 3px 6px 0px #757575;
	box-shadow: 0px 3px 6px 0px #757575;
	z-index: 10;
	cursor: default;
}

.search-modal-close {
	cursor: pointer;
}

.search-modal-close__wrapper {
	position: relative;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.search-modal-close::before {
	content: "";
	display: block;
	position: relative;
	top: 50%;
	width: 20px;
	height: 3px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 2px;
	background-color: var(--secondary);
}

.search-modal-close::after {
	content: "";
	display: block;
	position: relative;
	top: calc(50% - 3px);
	width: 20px;
	height: 3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-radius: 2px;
	background-color: var(--secondary);
}

.search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 56px;
	border: none;
	border-radius: 28px;
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: var(--green);
	color: var(--primary);
	cursor: pointer;
	transition: background-color 0.2s linear;
}

.search-btn:hover {
	background-color: #268049;
}

.search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ЛЕВЫЙ БЛОК */

.search-content__left {
  width: 24%;
}
.search-form__form {
  max-width: 330px;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--green);
}
.search-form__form-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  color: #fff;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
}
.search-form-part {
  margin-bottom: 20px;
}
.search-form__label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Montserrat Regular, Calibri, sans-serif';
  font-size: 16px;
  color: #fff;
}
.search-form__input {
  height: 50px;
  padding-left: 60px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: var(--secondary--text);
}
.search-form__input-full {
  width: 100%;
}
.search-form-part-semi {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-form__input-semi {
  width: 48%;
  height: 50px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: var(--secondary--text);
}
#form-object {
  background: #fff url(../icon/bed.png) no-repeat;
  background-position: 20px 50%;
  background-size: 7%;
}
#form-date-to, #form-date-from {
  background: #fff url(../icon/calendar.png) no-repeat;
  background-position: 20px 50%;
  background-size: 7%;
}
#form-adult {
  background: #fff url(../icon/user.png) no-repeat;
  background-position: 20px 50%;
  background-size: 5%;
}

.form-part-checkbox {
  margin-bottom: 20px;
}

.search-form-checkbox__check {
  margin-right: 15px;
}

.search-form-checkbox-label {
  font-size: 16px;
  color: #fff;
}

.search-form-btn {
  width: 100%;
  height: 50px;
  background: var(--yellow) url(../icon/search.png) no-repeat;
  background-position: 50% 50%;
  background-size: 8%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.search-form-btn_filter {
  display: none;
}

.search-form__filter {
  margin-bottom: 30px;
  max-width: 330px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.search-form__filter-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
  font-size: 20px;
  color: var(--primary-text);
}

.search-form-filter-part {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--secondary--text);
}

.search-form-filter-part:last-child {
  border-bottom: none;
}

.search-form-filter-part__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
  font-size: 16px;
  color: var(--primary-text)
}

.search-form-filter-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--primary-text)
}
.search-form-filter__check {
  margin-right: 10px;
}
.search-form-filter__label, .search-form-filter__count {
  font-size: 14px;
}

/* ПРАВЫЙ БЛОК */

.search-content__right {
  width: 74%;
}

.search-content-header {
  margin-bottom: 30px;
}

.search-content-header__title {
  font-size: 25px; 
  color: var(--primary-text)
}
.search-content-header__title strong {
  font-family: 'Montserrat Bold, Calibri, sans-serif';
}

.search-content-header-filter {
  margin-top: 40px;
  font-size: 16px;
  color: var(--secondary--text)
}
.search-content-header-filter__title {
  text-decoration: underline;
  color: var(--primary-text)
}
.search-content-header-filter__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.modal-filter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: hidden;
}
.modal-filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  box-shadow: 0 -4px 12px 4px #bdbdbd;
}
.modal-filter-close {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.modal-filter-close::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  transform: rotate(45deg);
  background-color: var(--primary-text);
}
.modal-filter-close::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  transform: rotate(-45deg);
  background-color: var(--primary-text);
}
.modal-filter-header__title {
  margin: 5px;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
  font-size: 16px;
  color: var(--primary-text)
}
.modal-filter-inner {
  height: 100%;
  overflow-y: scroll;
}
.modal-filter .search-form__filter {
  display: block;
  background-color: transparent;
  z-index: inherit;
}

@media (max-width: 1400px) {
	.search-input {
		padding-left: 40px;
		font-size: 1.4rem;
		background-position-x: 10px;
	}
	.search-input__guests {
		width: 340px;
	}
	.search-input__guests .guests-field {
		width: 20px;
	}
	.search-input__guests .guests-part:first-child {
		width: 100px;
	}
	.search-input__guests .guests-part:nth-child(2) {
		width: 90px;
	}
	.search-input__guests .guests-modal-part__title {
		font-size: 1.4rem;
	}
	.search-input__guests .guests-modal__value {
		font-size: 1.4rem;
	}
	.search-input__objects,
	.search-input__rooms,
	.search-input__cost {
		width: 247px;
	}
	.search-input__objects .objects-modal,
	.search-input__objects .rooms-modal,
	.search-input__objects .cost-modal,
	.search-input__rooms .objects-modal,
	.search-input__rooms .rooms-modal,
	.search-input__rooms .cost-modal,
	.search-input__cost .objects-modal,
	.search-input__cost .rooms-modal,
	.search-input__cost .cost-modal {
		font-size: 1.4rem;
	}
	.search-input__rooms {
		width: 246px;
	}
	.search-btn {
		font-size: 1.4rem;
	}
}

@media (max-width: 1200px) {
  .search-content__left{
    margin-right: 30px;  
  }

  .search-form__input-semi {
    font-size: 11px;
  }
  .search-form-checkbox-label {
    font-size: 12px;
  }
  
  .search-content-header__title {
    font-size: 20px;
  }
  .search-content-header-filter {
    margin-top: 20px;
    font-size: 14px;
  }
  .search-content-header-filter__item {
    margin-bottom: 5px;
  }
	
	.search-body {
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.search-body__inner {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.search-body-left {
		margin-right: 0;
		margin-bottom: 4px;
		width: 100%;
	}
	.search-body-right {
		width: 100%;
	}
	.search-input_left {
		border-bottom-left-radius: 0px;
	}
	.search-input_right {
		border-bottom-right-radius: 0px;
	}
	.search-input__guests {
		margin-right: 0;
		width: auto;
		padding-left: 30px;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}
	.search-input__guests .guests-field {
		width: 15px;
	}
	.search-btn {
		width: 100%;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.search-sell .search-input__city,
	.search-sell .search-input__objects,
	.search-sell .search-input__rooms,
	.search-sell .search-input__cost {
		width: 25%;
	}
	.search-sell .search-input__cost {
		margin-right: 0;
	}
}

@media (max-width: 991px) {
  
  .breadcrumbs {
    font-size: 12px;
  }

  .search-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-form__filter {
    display: none;
  }
  .search-content__left {
    width: 100%;
  }
  .search-content__left {
    margin-right: 0;
  }
  .search-form__form {
    max-width: 100%;
  }
  .search-form__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .search-form__form-title {
    display: none;
  }
  .search-form-part {
    margin-bottom: 10px;
  }
  .search-form__input {
    padding-left: 40px;
    border-radius: 5px;
  }
  #form-object, #form-date-to, #form-date-from, #form-adult {
    background-size: 20px;
    background-position-x: 10px;
  }
  .search-form__object {
    width: 100%;
  }
  .search-form__date {
    width: 49%;
  }
  .search-form__label {
    margin-bottom: 4px;
    font-size: 12px;
  }
  
  .search-form__label-count {
    display: none;
  }
  .search-form__adult-count {
    width: 33%;
  }
  .search-form__child-count {
    width: 66%;
  }
  .search-form__input-semi {
    font-size: 16px;
    width: 49%;
    border-radius: 5px;
  }
  .search-form__adult-count, .search-form__child-count {
    margin-top: 12px;
  }
  .search-form-btn {
    border-radius: 5px;
    background-image: none;
  }
  .search-form-btn::after {
    content: 'Найти';
    font-weight: bold;
    font-size: 25px;
    color: #fff;
  }
  .search-form-btn_filter {
    display: block;
    margin-top: 10px;
    background: var(--yellow);
  }
  .search-form-btn_filter::after {
    content: 'Фильтры';
  }
  .form-part-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
  }
  .search-form-checkbox-label {
    color: var(--primary-text)
  }

  .search-content__right {
    width: 100%;
  }
  
	.search-header__tab {
		font-size: 1.4rem;
	}
	.search-body-right {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.search-body-left {
		margin-bottom: 0;
	}
	.search-input {
		width: 500px;
		margin-right: 0;
		margin-bottom: 4px;
	}
	.search-input__wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.search-input__city {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		border-top-right-radius: 28px;
	}
	.search-input__guests {
		-webkit-box-flex: 0;
		-ms-flex-positive: 0;
		flex-grow: 0;
		border-top-right-radius: 0px;
	}
	.search-btn {
		margin: 0 auto;
		width: 500px;
	}
	.search-sell .search-input__city,
	.search-sell .search-input__objects,
	.search-sell .search-input__rooms,
	.search-sell .search-input__cost {
		width: 500px;
	}
	.search-sell .search-input__cost {
		border-top-right-radius: 0px;
	}
}

@media ( max-width: 768px) {
  .breadcrumbs a {
    display: inline-block;
    margin-bottom: 10px;
  }

  .search-form__input, .search-form__input-semi {
    font-size: 13px;
  }
  #form-object, #form-date-to, #form-date-from, #form-adult {
    background-size: 12px;
    background-position-x: 5px;
  }

  .search-content__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-content-header {
    width: 100%;
  }

  .search-content-header__title {
    font-size: 16px;
  }
  .search-content-header-filter {
    font-size: 12px;
  }

	.search-header__tab {
		max-width: 50%;
	}
	.search-body {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 520px) {
  .breadcrumbs {
    font-size: 10px;
  }
  .breadcrumbs {
    padding-bottom: 5px;
  }
  .search-form-btn::after {
    font-size: 18px;
  }

  .search-content__right {
    justify-content: center;
  }
	
	.search-header__tab {
		height: 45px;
		font-size: 1.2rem;
	}
	.search-input {
		width: 93%;
		height: 45px;
		font-size: 1.2rem;
	}
	.search-input__city,
	.search-input__from,
	.search-input__to {
		background-size: 15px;
	}
	.search-input__guests {
		background-size: 13px;
		padding-left: 23px;
	}
	.search-input__guests .guests {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.search-input__guests .guests-part {
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}
	.search-input__guests .guests-part:first-child {
		width: 80px;
	}
	.search-input__guests .guests-part:nth-child(2) {
		width: 75px;
	}
	.search-input__guests .guests-field {
		width: 13px;
	}
	.search-input__guests .guests-modal-part:first-child {
		margin-top: 10px;
	}
	.search-input__guests .guests-modal-part__title {
		font-size: 1.2rem;
	}
	.search-input__guests .guests-modal-part__value {
		width: 30px;
		font-size: 1.2rem;
	}
	.search-input__guests .guests-modal__btn {
		width: 30px;
		height: 30px;
	}
	.search-input__objects,
	.search-input__cost {
		background-size: 18px;
	}
	.search-input__rooms {
		background-size: 14px;
	}
	.search-btn {
		width: 93%;
		height: 45px;
	}
	.search-sell .search-input__city,
	.search-sell .search-input__objects,
	.search-sell .search-input__rooms,
	.search-sell .search-input__cost {
		width: 93%;
	}
}

@media ( max-width: 425px) {
  .search-form__date {
    width: 100%;
  }
  .search-form__adult-count {
    width: 100%;
  }
  .search-form__child-count {
    width: 100%;
  }
  .search-form-checkbox-label {
    font-size: 13px;
  }
}
