:root {
  --main-bg: #FAFAFA;
  --green: #32A961;
  --yellow: #FFC000;
  --primary-text: #2E2D37;
  --primary: #ffffff;
  --secondary: #2E2D37;
  --secondary--text: #848484;
  --heading--secondary: #505050;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  padding: 0;
}
button {
  border: none;
}
.breadcrumbs{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.breadcrumbs a{
  white-space: nowrap;
}
.bread_string{
  color:  #32a961;
}
.search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ЛЕВЫЙ БЛОК */

.search-content__left {
  width: 24%;
}
.search-form__form {
  max-width: 330px;
  margin-bottom: 40px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--green);
}
.search-form__form-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  color: #fff;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
}
.search-form-part {
  margin-bottom: 20px;
}
.search-form__label {
  display: block;
  margin-bottom: 10px;
  font-family: 'Montserrat Regular, Calibri, sans-serif';
  font-size: 16px;
  color: #fff;
}
.search-form__input {
  height: 50px;
  padding-left: 60px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: var(--secondary--text);
}
.search-form__input-full {
  width: 100%;
}
.search-form-part-semi {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-form__input-semi {
  width: 48%;
  height: 50px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: var(--secondary--text);
}
#form-object {
  background: #fff url(../icon/bed.png) no-repeat;
  background-position: 20px 50%;
  background-size: 7%;
}
#form-date-to, #form-date-from {
  background: #fff url(../icon/calendar.png) no-repeat;
  background-position: 20px 50%;
  background-size: 7%;
}
#form-adult {
  background: #fff url(../icon/user.png) no-repeat;
  background-position: 20px 50%;
  background-size: 5%;
}

.form-part-checkbox {
  margin-bottom: 20px;
}

.search-form-checkbox__check {
  margin-right: 15px;
}

.search-form-checkbox-label {
  font-size: 16px;
  color: #fff;
}

.search-form-btn {
  width: 100%;
  height: 50px;
  background: var(--yellow) url(../icon/search.png) no-repeat;
  background-position: 50% 50%;
  background-size: 8%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.search-form-btn_filter {
  display: none;
}

.search-form__filter {
  margin-bottom: 30px;
  max-width: 330px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.search-form__filter-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
  font-size: 20px;
  color: var(--primary-text);
}

.search-form-filter-part {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--secondary--text);
}

.search-form-filter-part:last-child {
  border-bottom: none;
}

.search-form-filter-part__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
  font-size: 16px;
  color: var(--primary-text)
}

.search-form-filter-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--primary-text)
}
.search-form-filter__check {
  margin-right: 10px;
}
.search-form-filter__label, .search-form-filter__count {
  font-size: 14px;
}

/* ПРАВЫЙ БЛОК */

.search-content__right {
  width: 74%;
}

.search-content-header {
  margin-bottom: 30px;
}

.search-content-header__title {
  font-size: 25px; 
  color: var(--primary-text)
}
.search-content-header__title strong {
  font-family: 'Montserrat Bold, Calibri, sans-serif';
}

.search-content-header-filter {
  margin-top: 40px;
  font-size: 16px;
  color: var(--secondary--text)
}
.search-content-header-filter__title {
  text-decoration: underline;
  color: var(--primary-text)
}
.search-content-header-filter__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.modal-filter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: hidden;
}
.modal-filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  box-shadow: 0 -4px 12px 4px #bdbdbd;
}
.modal-filter-close {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.modal-filter-close::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  transform: rotate(45deg);
  background-color: var(--primary-text);
}
.modal-filter-close::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 3px;
  border-radius: 15px;
  transform: rotate(-45deg);
  background-color: var(--primary-text);
}
.modal-filter-header__title {
  margin: 5px;
  font-family: 'Montserrat Bold, Calibri, sans-serif';
  font-size: 16px;
  color: var(--primary-text)
}
.modal-filter-inner {
  height: 100%;
  overflow-y: scroll;
}
.modal-filter .search-form__filter {
  display: block;
  background-color: transparent;
  z-index: inherit;
}


@media (max-width: 1200px) {

  .search-content__left{
    margin-right: 30px;  
  }

  .search-form__input-semi {
    font-size: 11px;
  }
  .search-form-checkbox-label {
    font-size: 12px;
  }
  
  .search-content-header__title {
    font-size: 20px;
  }
  .search-content-header-filter {
    margin-top: 20px;
    font-size: 14px;
  }
  .search-content-header-filter__item {
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  
  .breadcrumbs {
    font-size: 12px;
  }

  .search-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-form__filter {
    display: none;
  }
  .search-content__left {
    width: 100%;
  }
  .search-content__left {
    margin-right: 0;
  }
  .search-form__form {
    max-width: 100%;
  }
  .search-form__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .search-form__form-title {
    display: none;
  }
  .search-form-part {
    margin-bottom: 10px;
  }
  .search-form__input {
    padding-left: 40px;
    border-radius: 5px;
  }
  #form-object, #form-date-to, #form-date-from, #form-adult {
    background-size: 20px;
    background-position-x: 10px;
  }
  .search-form__object {
    width: 100%;
  }
  .search-form__date {
    width: 49%;
  }
  .search-form__label {
    margin-bottom: 4px;
    font-size: 12px;
  }
  
  .search-form__label-count {
    display: none;
  }
  .search-form__adult-count {
    width: 33%;
  }
  .search-form__child-count {
    width: 66%;
  }
  .search-form__input-semi {
    font-size: 16px;
    width: 49%;
    border-radius: 5px;
  }
  .search-form__adult-count, .search-form__child-count {
    margin-top: 12px;
  }
  .search-form-btn {
    border-radius: 5px;
    background-image: none;
  }
  .search-form-btn::after {
    content: 'Найти';
    font-weight: bold;
    font-size: 25px;
    color: #fff;
  }
  .search-form-btn_filter {
    display: block;
    margin-top: 10px;
    background: var(--yellow);
  }
  .search-form-btn_filter::after {
    content: 'Фильтры';
  }
  .form-part-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
  }
  .search-form-checkbox-label {
    color: var(--primary-text)
  }

  .search-content__right {
    width: 100%;
  }
  
}

@media ( max-width: 768px) {
  .breadcrumbs a {
    display: inline-block;
    margin-bottom: 10px;
  }

  .search-form__input, .search-form__input-semi {
    font-size: 13px;
  }
  #form-object, #form-date-to, #form-date-from, #form-adult {
    background-size: 12px;
    background-position-x: 5px;
  }

  .search-content__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-content-header {
    width: 100%;
  }

  .search-content-header__title {
    font-size: 16px;
  }
  .search-content-header-filter {
    font-size: 12px;
  }

}

@media (max-width: 520px) {
  .breadcrumbs {
    font-size: 10px;
  }
  .breadcrumbs {
    padding-bottom: 5px;
  }
  .search-form-btn::after {
    font-size: 18px;
  }

  .search-content__right {
    justify-content: center;
  }
}

@media ( max-width: 425px) {
  .search-form__date {
    width: 100%;
  }
  .search-form__adult-count {
    width: 100%;
  }
  .search-form__child-count {
    width: 100%;
  }
  .search-form-checkbox-label {
    font-size: 13px;
  }
}
